{% extends "layout.html" %}

{% block title %}
{{ book.title }}
{% endblock %}

{% block widget %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form.edit(class_="btn btn-outline-info form-inline") }}
    {{ form.delete(class_="btn btn-outline-danger form-inline") }}
</form>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-auto align-content-center text-center">
    <img src="{{ book.image }}" alt="...">
</div>
<div class="col">
    <h2>{{ book.title }}</h2>
    <h3>{{ book.author }}</h3>
    <p>{{ book.description }}</p>
</div>
</div>
{% endblock %}
