{% extends "layout.html" %}

{% block title %}
{{ book.title }}
{% endblock %}

{% block widget %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form.edit(class_="btn btn-outline-info form-inline") }}
    {{ form.delete(class_="btn btn-outline-danger form-inline") }}
</form>
{% endblock %}

{% block content %}
<div class="h-100 row bgimg">
<div class="col-md-auto my-auto mx-auto text-center aling-items-center justify-content-center">
<div class="card my-auto p-3 flex-md-row">
    <img src="{% if book.image != "default" %}{{ book.image }}{% else %}/static/placeholder.svg{% endif %}" alt="..."style="width: 20rem; height: auto;" class="img-fluid mx-auto card-img-top">
    <div class="flex-column mb-auto mx-2 align-items-start justify-items-start">
    <h2>{{ book.title }}</h2>
    <h3>{{ book.author }}</h3>
    <p>{{ book.description }}</p>
    </div>
</div>
</div>
</div>
{% endblock %}
