{% extends "layout.html" %}

{% block title %}
Library
{% endblock %}

{% block widget %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.isbn.label }}<br>
                    {{ form.isbn(size=32) }}
                </p>
                
                <p>{{ form.submit() }}</p>
                <p>{{ form.manual() }}</p>
            </form>
           </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="justify-content-center">
<div class="align-content-center row">
{% for book in books %}
<div class="card" style="width: 14rem;">
    <img src="{{ book.image }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">
            {{ book.author }}
        </p>
        <a href="{{ url_for("book", id=book.id) }}" class="card-link stretched-link">Open</a>
    </div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
