{% extends "bootstrap/base.html" %} 
{% block title %}{% endblock %}
{% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="/static/logo.png" height="30" alt="">
            </a>
            {% if current_user.is_anonymous %}
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            {% else %}
            {% block widget %}{% endblock %}
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </nav>
{% endblock %}

{% block content %}
<div class="container">"
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
        
        {% block app_content %}
        {% endblock %}
</div>
{% endblock %}
