<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- documentation at http://getbootstrap.com/docs/4.1/, -->
       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon-v2.ico" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">       
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body id="outer">
        <nav class="navbar sticky-top border-bottom navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="/static/logo-v2.png" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto jmt-2 mt-lg-0 justify-content-end">
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                </li>
                {% else %}
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                <a href="" class="nav-link" data-toggle="modal" data-target="#exampleModal">Add</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% endif %}
                {% block widget %}{% endblock %}
                </ul>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
         {% endfor %}
         
               
        {% endif %}
        {% endwith %}
        <div id="inner_remaining"class="container-fluid d-flex flex-column cover-conteainer">
        {% block content %}
        {% endblock %}
        {% block modal %}{% endblock %}
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action=""id="isbn-form"method="get">
            <div class="modal-body">
                <div class="form-group">
                    Enter your ISBN<br>
                    <input class="form-control" id="isbn" name="isbn" type="text" value="">
                </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-primary" type="submit" value="Add via ISBN" onclick="return ISBNValidate(this)">
                <input class="btn btn-outline-secondary" type="submit" value="Add Manually" onclick="return ISBNValidate(this)">
            </div>
            </form>
        </div>
    </div>
</div>

    <script>
        function ISBNValidate(button) {
            if (button.value == "Add Manually"){
                window.location.href = "/add";
            }
            else {
                if (document.getElementById("isbn").value == "")
                {
                    window.location.href = "/add";
                }
                else {
                    window.location.href = "/add/" + document.getElementById("isbn").value;
                }
            }
            return false;
        }
        </script>
    </body>
</html>
